@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 351.3 22% 95%;
    --foreground: 351.3 5% 10%;
    --card: 351.3 22% 90%;
    --card-foreground: 351.3 5% 15%;
    --popover: 351.3 22% 95%;
    --popover-foreground: 351.3 95% 10%;
    --primary: 351.3 94.5% 71.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 351.3 22% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 313.3 22% 85%;
    --muted-foreground: 351.3 5% 35%;
    --accent: 313.3 22% 80%;
    --accent-foreground: 351.3 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 351.3 5% 90%;
    --border: 351.3 22% 50%;
    --input: 351.3 22% 30%;
    --ring: 351.3 94.5% 71.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 351.3 22% 10%;
    --foreground: 351.3 5% 90%;
    --card: 351.3 22% 10%;
    --card-foreground: 351.3 5% 90%;
    --popover: 351.3 22% 5%;
    --popover-foreground: 351.3 5% 90%;
    --primary: 351.3 94.5% 71.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 351.3 22% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 313.3 22% 25%;
    --muted-foreground: 351.3 5% 60%;
    --accent: 313.3 22% 25%;
    --accent-foreground: 351.3 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 351.3 5% 90%;
    --border: 351.3 22% 30%;
    --input: 351.3 22% 30%;
    --ring: 351.3 94.5% 71.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply h-full w-full bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
